.board {
  height: 600px;
  width: 300px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}

.square {
  box-shadow: inset 0 0 0 1px rgb(87, 87, 87);
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.O {
  background-color: #fffb15;
}
.I {
  background-color: #20f1f3;
}
.L {
  background-color: #f1ad13;
}
.L2 {
  background-color: #1619d6;
}
.S {
  background-color: #00fc01;
}
.S2 {
  background-color: #df0a0a;
}
.T {
  background-color: #a004ff;
}
