.board {
  height: 600px;
  width: 300px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  outline: none;
}

.square {
  box-shadow: inset 0 0 0 1px rgb(87, 87, 87);
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.O, .o {
  background-color: #fff68f;
}
.I, .i {
  background-color: #7ad9e3;
}
.L, .l {
  background-color: #e39a33;
}
.L2, .l2 {
  background-color: #4c5ad6;
}
.S, .s {
  background-color: #7dfc68;
}
.S2, .s2 {
  background-color: #df6d6d;
}
.T, .t {
  background-color: #b36eff;
}
.ph{
  background-color:  rgba(121, 121, 121, 0.466);
}